{% extends 'base.html' %} {% block content %}
<br />
<div class="row">
    <h1 class="text-center">Add a New Show</h1>
    <div class="col-8 mx-auto">
        <form action="/add_show" method="POST">
            {% csrf_token %}
            <div class="my-3 text-center">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="title" class="form-control input-index mx-auto" required />
            </div>
            <div class="row align-items-center">
                <div class="col mb-3 text-center">
                    <label for="network" class="form-label">Network</label>
                    <select id="network_id" type="text" name="network_id" class="form-control input-index mx-auto" required>
                        {% for network in networks %}
                        <option value="{{network.id}}">{{network.name}}</option>
                        {% endfor %}
                        <option value="other">Other</option>
                    </select>
                    <input class="d-none form-control" type="text" name="newNetwork" id="newNetwork" placeholder="create new network" />
                </div>
                <div class="col mb-3 text-center">
                    <label for="date" class="form-label me-4">Date:</label>
                    <input type="date" name="date" class="text-center form-control input-index mx-auto" value="2001-01-01" required />
                </div>
            </div>
            <div class="mb-3 text-center">
                <label for="desc" class="form-label">Description:</label>
                <textarea type="text" class="form-control" name="desc" id="desc" rows="3"></textarea>
            </div>
            <div class="text-center"><button type="submit" class="shadow btn btn-secondary">Create</button></div>
        </form>
    </div>
</div>
<script>
    $("#network_id").on("change", function () {
        if ($(this).val() === "other") {
            $("#newNetwork").removeClass("d-none");
        } else {
            $("#newNetwork").addClass("d-none");
        }
    });
</script>
{% endblock %}
