{% extends 'base.html' %} {% block content %}
<br />
<div class="row">
    <h1 class="ms-4">All Shows</h1>
    <div class="col mx-auto">
        <table class="table table-dark my-3">
            <thead>
                <tr class="table-dark">
                    <th class="table-dark" scope="col">ID</th>
                    <th class="table-dark" scope="col">Title</th>
                    <th class="table-dark" scope="col">Network</th>
                    <th class="table-dark" scope="col">Release Date</th>
                    <th class="table-dark" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                <tr>
                    <td>{{show.id}}</td>
                    <td>{{show.title}}</td>
                    <!-- <td>{{show.networks.all}}</td> -->
                    <td>{% for network in show.networks.all%} {{network.name}} {%endfor%}</td>
                    <td>{{show.release_date}}</td>
                    <td><a class="link-info" href="shows/{{show.id}}">View</a> <a class="link-info" href="remove/{{show.id}}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
