<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <title>Word Generator</title>
    </head>
    <body>
        <div class="container-fluid bg-dark bg-gradient">
            <div class="container vh-100 text-white">
                <div class="row">
                    <div class="col-4 mx-auto border rounded mt-5 p-2 shadow">
                        <p class="text-center fw-bold">Random word (attempt # {{counter}})</p>
                    </div>
                </div>
                <div class="row text-center">
                    {% if counter >= 10 %}
                    <div class="fw-bold col-6 mx-auto border rounded mt-2 p-2 shadow bg-warning text-danger">
                        <p>{{random_word}}</p>
                    </div>
                    {% else %}
                    <div class="col-6 mx-auto border rounded mt-2 p-2 shadow">
                        <p>{{random_word}}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                    <input class="btn btn-outline-primary col-2 me-1 border rounded mt-2 text-center shadow" type="button" value="Generate" onclick="window.location.reload();" />
                    <a class="btn btn-outline-danger col-2 ms-1 border rounded mt-2 text-center shadow" href="/random_word/reset">Reset</a>
                </div>
            </div>
        </div>
    </body>
</html>
