.gandalf {
    background-image: url(https://chorus-static-files-production20180703025311327900000004.s3.amazonaws.com/3eff99716ddf42deaaf9d0c3e1a5aa69/uploads/2019/04/paragon.gif);
    background-size: contain;
    height: 9rem;
}

.ayuwoki {
    background-image: url(https://statics.viralizalo.com/virs/2016/01/VIR_50464_4696_lugares_del_senor_de_los_anillos_incluido_el_hobbit_puedes_reconocerlos_todos.gif?cb=25525);
    background-size: cover;
    height: 100%;
}
